.project-container {
  font-family: Roboto;
  padding: 45px 30px;
  color: #fff;
}

.project-text-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-text-box h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.project-text-box h2 {
  padding-left: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.project-unique-keyword {
  font-size: 64px;
  text-decoration: underline;
}
