.coming-soon {
  text-align: center;
  padding: 40px 30px 20px;
}

.coming-soon h1,
h2 {
  color: #445964;
  font-family: Roboto;
}

.coming-soon h1 {
  font-size: 52px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.coming-soon h2 {
  font-size: 36px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 60px;
}

.special-word {
  color: #c84b31;
}

.coming-soon img {
  height: 450px;
  width: 450px;
}

.coming-soon a {
  color: #fff;
  text-decoration: none;
}

.coming-soon a:hover {
  text-decoration: underline;
}
